@model ProyectoSunshineBouquet.Models.Variedad

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Variedad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VariedadNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VariedadNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VariedadColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VariedadColor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VariedadId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
