@model ProyectoSunshineBouquet.Models.Producto


@{
    ViewBag.Title = "MantenimientoProducto";
}

<h2>Descripción del Producto</h2>

@using (Html.BeginForm("MantenimientoProducto", "Productos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="form-horizontal">
        @*<h4>Producto</h4>*@

        <div class="row">
            <div class="col-md-6">

                @*@Html.HiddenFor(model => model.ProductoId)*@

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @*@Html.Label("ProductoCodigo", "Id", htmlAttributes: new { @class = "control-label col-md-2" })*@
                    @*@Html.LabelFor(model => model.ProductoCodigo, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ProductoCodigo, new { htmlAttributes = new { @class = "form-control", placeholder = "ID", @data_val = "true", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.ProductoCodigo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @*@Html.Label("ProductoNombre","", htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ProductoNombre, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre", @data_val = "true", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.ProductoNombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @*@Html.LabelFor(model => model.ProductoEspecie, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ProductoEspecie, new { htmlAttributes = new { @class = "form-control", placeholder = "Especie", @data_val = "true", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.ProductoEspecie, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <h2>Imagen</h2>
            </div>
        </div>

        @* Carga de archivo *@
        <div class="row">
            <div class="col-md-12 col-md-offset-7">
                <label for="img">Seleccionar imagen:</label>
                @*@Html.EditorFor(model => model.ProductoImagen, new { htmlAttributes = new { @class = "form-control", @data_val = "true", @required = "required" } })*@
                <input type="file" name="img" /> <br />
                @Html.ValidationMessageFor(model => model.ProductoImagen, "", new { @class = "text-danger" })
            </div>
        </div>

        <br /><br />
        @*Listado para Variedades*@
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-2 col-md-offset-4">
                    <button class="btn btn-primary btn" type="button"
                            data-target="#modal_ListaVariedades" data-toggle="modal"
                            data-backdrop="static" data-keyboard="false">
                        <span class="glyphicon glyphicon-plus"> Agregar</span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered">
                        <thead style="background-color: darkgrey; color:white">
                            <tr><th>ID</th><th>Variedad</th><th>Color</th><th>Acción</th></tr>
                        </thead>
                        <tbody id="tabla_variedad"></tbody>
                    </table>
                </div>
            </div>
        </div>
        @*Listado para Grados*@
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-2 col-md-offset-4">
                    <button class="btn btn-primary btn" type="button"
                            data-target="#modal_ListaGrados" data-toggle="modal"
                            data-backdrop="static" data-keyboard="false">
                        <span class="glyphicon glyphicon-plus"> Agregar</span>
                    </button>


                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                 
                    <table class="table table-bordered">
                        <thead style="background-color: darkgrey; color:white">
                            <tr><th>ID</th><th>GRADO</th><th>Acción</th></tr>
                        </thead>
                        <tbody id="tabla_atr"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



        <div class="row">

        </div>

        @*Boton para guardar datos*@
        <div class="form-group">
            <div class="col-md-offset-10 col-md-10">
                <button class="btn btn-success" type="submit" name="btn1" id="btn1"><span class="glyphicon glyphicon-save"> Guardar</span></button>
                @*<input type="submit" value="Guardar" class="btn btn-primary btn-lg" required>*@
                <button class="btn btn-danger" type="reset" name="btn2" onclick="location.href='../Productos/Index'" id="btn2"><span class="glyphicon glyphicon-remove"> Regresar</span></button>
            </div>
        </div>
    </div>
}

@Html.Partial("Modal_ListaVariedades")
@Html.Partial("Modal_ListaGrados")

