@model ProyectoSunshineBouquet.Models.Archivo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Archivo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArchivoNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArchivoNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArchivoContenido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArchivoContenido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArchivoExtension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArchivoExtension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.ProductoNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.ProductoNombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArchivoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
