@model IEnumerable<ProyectoSunshineBouquet.Models.Archivo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArchivoNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArchivoContenido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArchivoExtension)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.ProductoNombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ArchivoNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArchivoContenido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArchivoExtension)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Producto.ProductoNombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArchivoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArchivoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArchivoId })
        </td>
    </tr>
}

</table>
